<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="flex flex-col">
        <mat-icon routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="pr-10">home</mat-icon>
        <!-- <span routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="pr-10">About</span> -->
        <span routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page" class="pr-10">Projects</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>